@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #6b7280;
}


.container{
    width: 100%;
    height: 100vh;
}

/* header */

nav{
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #e4e6eb;
    position: fixed;
    background-color: #fff;
    z-index: 1;
}

nav img{
    max-width: 170px;
    position: relative;
    top: 26px;
    left: 43px;
    margin-left: 20px;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 32px;
    position: relative;
    bottom: 20px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: #6b7280;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
}

nav ul li a:hover{
    cursor: pointer;
    color: #e33645;
}

nav span{
    display: flex;
    justify-content: end;
    gap: 16px;
    position: relative;
    bottom: 55px;
    right: 10px;
}

nav span i{
    font-size: 27px;
    color: #e23744;
    position: relative;
    top: 6px;
}

nav span i:hover{
    color: #f89e9e;
    cursor: pointer;
}

nav span button{
    padding: 9px 16px;
    color: #6b7280;
    letter-spacing: 1px;
    font-weight: 600;
    border: none;
    font-size: 16px;
}

nav span button{
    cursor: pointer;
}

nav span .submit1{
    background-color: transparent;
}

nav span .submit2{
    background-color: #e23744;
    color: #fff;
    border-radius: 20px;
    
}

/* content */

.content{
    width: 100%;
    height: 650px;
    display: flex;
    margin: auto 0%;
}


.content .d1, .d2{
    position: absolute;
    top: 35%;
}

.content .d1{
    position: relative;
    top: 28%;
    margin-left: 92px;
    padding: 30px;
    background-color: #f5faff;
    width: 90%;
    height: 75%;
}

.content .d1 h1{
    color: #475467;
    font-size: 48px;
    letter-spacing: 1px;
}

.content .d1 span{
    color: #e23744;
    letter-spacing: 1px;
}

.content .d1 p{
    font-size: 20px;
    color: #475467;
    font-weight: 500;
    letter-spacing: 1px;
}

.content .d1 .img1{
    width: 22px;
    height: 22px;
    position: absolute;
    left: 42px;
    top: 162px;
}

.content .d1 .img2{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 29px;
    bottom: 135px;
}

.content .d1 .img3{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 276px;
    bottom: 135px;
}

.content .d1 input{
    display: flex;
    width: 480px;
    height: 60px;
    background: transparent;
    outline: 2px solid #e23744;
    border: none;
    margin: 10px;
    position: relative;
    right: 9px;
    padding-left: 42px;
    border-radius: 5px;
}

.content .d1 form i{
    position: absolute;
    left: 44px;
    top: 244px;
    font-size: 20px;
    color: #e23744;
}

.content .d1 select{
    border-radius: 5px;
    width: 480px;
    height: 60px;
    border: none;
    margin: 10px;
    margin-left: 1px;
    padding-left: 42px;
    background: transparent;
    outline: 2px solid #e23744;
}

.content .d1 select option{
    color: black;
    font-size: 16px;
}

.content .d1 .input2{
    float: right;
    position: relative;
    width: 230px;
    height: 55px;
    padding-left: 43px;
    right: 664px; 
    bottom: 75px;
}

.content .d1 .input1{
    width: 230px;
    height: 55px;
    padding-left: 43px;
}

.input1::placeholder,
.input2::placeholder{
    color: #e23744;
    font-size: 17px;
    letter-spacing: 1px;
}


::placeholder{
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
}

.content .d1 button{
    position: relative;
    top: 35px;
    width: 293px;
    height: 53px;
    border-radius: 30px;
    background-color: #e23744;
    color: #fff;
    font-size: 16px;
    border: none;
    letter-spacing: 1px;
}

.content .d2 img{
    position: absolute;
    left: 700px;
}

/* feature */

.feature{
    margin-top: 90px !important;
    margin-right: 52px !important;
    margin: auto;
    width: 90%;
    height: 600px;
}

.feature h1{
    letter-spacing: 1px;
    font-size: 48px;
    color: #50545c;
    position: relative;
    left: 52px;
    text-align: center;
}

.feature h6{
    letter-spacing: 1px;
    text-align: center;
    font-size: 24px;
    color: #5a616b;
    position: relative;
    top: 20px;
    left: 46px;
}

/* feature div */

.d3{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 30px;
}

.d3 .div1{
    border-radius: 8px;
    width: 380px;
    height: 380px;
    border: 1px solid #e6e6e6;
}

.d3 .img4{
    width: 380px;
    height: 220px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.d3 h2{
    padding-top: 8px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
    color: #000;
}

.d3 button{
    position: relative;
    top: 35px;
    color: #fff;
    border: none;
    width: 150px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    left: 110px;
    background-color: #e23744;
}

.d3 #d4{
    background-image: url(images/airport.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.d3 #d4 h2{
    padding-top: 13px;
    position: relative;
    text-align: center;
    top: 220px;
    font-size: 24px;
    color: #000;
    letter-spacing: 1px;
    background-color: #fff;
    height: 158px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.d3 #d4 button{
    color: white;
    position: relative;
    top: 148px;
    border: none;
    width: 150px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    left: 110px;
}

.d3 button{
    cursor: pointer;
}

/* Why Spot finder */

.spotfinder{
    margin-top: 77px !important;
    margin: auto;
    width: 90%;
    height: 730px;
    background-color: #e23744;
    border-radius: 10px;
}

.spotfinder h1{
    padding-top: 60px;
    font-size: 48px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.spotfinder p{
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    font-size: 19px;
    padding-top: 35px;
}

.d5{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div2{
    height: 372px;
    width: 370px;
    background-color: #fff;
    border-radius: 10px;
}

.div2 img{  
    max-width:  160px;
    position: relative;
    left: 100px;
    top: 25px;
}

.d5 .div2 h3{
    padding-top: 30px;
    font-size: 20px;
    color: #000;
    letter-spacing: 1px;
    text-align: center;   
}

.d5 .div2 p{
    text-align: center;
    letter-spacing: 1px;
    color: #000;
    font-size: 16px;   
}

/*  airport parking  */

.parking{
    width: 90%;
    height: 500px;
    margin: 8% auto;
}

.parking h1{
    padding-top: 10px;
    font-size: 3rem;
    font-weight: 600;
    color: #2d3747;
    letter-spacing: 1px;
    text-align: center;
}

.parking .d6 {
    margin-top: 50px;
    gap: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parking .div3{
    border-radius: 10px;
    height: 455px;
    width: 370px;
    border: 1px solid #e6e6e6;
}

.parking .div3 img{
   width: 280px;
   height: 220px;   
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.parking .div3 h2{
    padding-top: 40px;
    color: #000;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}

.parking .div3 p{
    color: #000;
    font-size: 18px;
    padding-top: 30px;
    text-align: center;
}

.parking .div3 button{
    border: none;
    width: 150px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    background-color: #e23744;
    color: #fff;
    margin-top: 20px;   
    position: relative;
    left: 75px;
}

/* rating */

.div4{
    width: 51%;
    height: 250px;
    border-radius: 10px;
    margin: 10%  7%;
    padding: 40px;
    border: 1px solid #e6e6e6;
}

.div4 h4{
    position: relative;
    left: 80px;
    top: -64px;
    font-size: 18px;
    font-weight: bolder;
    color: #000;
    letter-spacing: 1px;
}

.div4 p{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.div4 span{
    color: #e23744;
    font-weight: 600;
    letter-spacing: 1px;
}

.div4 i{
    position: relative;
    left: 78px;
    top: -57px;
    font-size: 18px;
    color: #faaf00;
    padding: 2px;
}

.div4 img{
    max-width: 60px;
    border-radius: 50px;
}

/* Reads */

.div5{
    width: 90%;
    height: 700px;
    margin: auto;
}

.div5 h1{
    text-align: center;
    font-size: 46px;
    color: #000;
}

.div5 h3{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 26px;
    color: #000;
    font-weight: 600;
}

.div5 span{
    text-decoration: underline;
    color: #e23744;
    font-size: 18px;
    text-align: end;
    position: relative;
    left: 63em;
    bottom: 31px;
    font-weight: 600;
}

.d7{
    margin: auto;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.d7 .div6{
    width: 370px;
    height: 450px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.d7 .div6 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 370px;
    height: 220px;
}

.d7 .div6 h4{
    padding-top: 40px !important;
    font-size: 24px;
    color: #000;
    letter-spacing: 1px;
    padding: 10px;
}

.d7 .div6 p{
    padding: 10px 0px 10px 10px;
    font-size: 16px;
}

.d7 .div6 span{
    font-size: 16px;
    position: relative;
    left: 0;
    top: 10px;
    text-decoration: none;
}

/* partner */


.div7{
    width: 90%;
    height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/img9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    border-radius: 13px;
}

.div7 h1{
    display: inline-block;
    color: #fff;
    letter-spacing: 2px;
    font-size: 64px;
    font-weight: bolder;
    position: relative;
    left: 205px;
    top: 141px;
}
.div7 h2{
    display: inline-block;
    position: relative;
    left: 294px;
    top: 160px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 24px;
}
.div7 button{
    position: relative;
    top: 16rem;
    right: 160px;
    font-size: 18px;
    font-weight: bold;
    width: 237px;
    height: 70px;
    border: none;
    border-radius: 50px;
    background-color: #e23744;
    color: #fff;
}

/* subscribe */

.div8{
    margin: 3%  auto;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 240px;
    background-color: #f5faff;
}

.div8 .div9{
    width: 30%;
    height: 240px;
}

.div8 .div9 h3{
    font-size: 30px;
    font-weight: 700;
    color: #000;
    position: relative;
    top: 40px;
}

.div8 .div9 p{
    font-size: 16px;
    position: relative;
    top: 50px;
}

.div8 .div9 input{
    position: relative;
    top: 76px;
    padding-left: 12px;
    width: 61%;
    height: 3.5rem;
    border: 1px solid #e6e6e6;
}

.div8 .div9 button{
    font-size: 17px;
    margin-left: -4px;
    border-bottom-right-radius:7px;
    border-top-right-radius: 7px; 
    background-color: #e23744;
    color: #fff;
    border: none;
    position: relative;
    top: 78px;
    width: 135px;
    height: 3.5rem;
}